[Unit]
Description=puppetboard daemon
After=network.target

[Service]
PIDFile=/run/puppetboard/pid
EnvironmentFile=/etc/sysconfig/puppetboard
User=puppetboard
Group=puppetboard
RuntimeDirectory=puppetboard
WorkingDirectory=/opt/voxpupuli/puppetboard
ExecStart=/opt/voxpupuli/puppetboard/bin/gunicorn puppetboard.app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
UMask=027

[Install]
WantedBy=multi-user.target
